<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>CataLyst - Dashboard</title>
    <!-- Bootstrap Core CSS -->
	<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
	{% include "landing/navbar.html" %}
	<div class="container-fluid row">
	  	<div class="col-md-2">
	        <ul class="nav flex-column">
   	        	<li><a class="nav-link" href="{% url 'dashboard:index' %}">Overview</a></li>
            	<li><a class="nav-link active" href="{% url 'dashboard:addjob' %}">Publish an Event</a></li>
            	<li><a class="nav-link" href="{% url 'dashboard:managejobs' %}">Manage Events</a></li>
            	<li><a class="nav-link" href="{% url 'dashboard:profile' %}">My Profile</a></li>
        	</ul>
	  	</div>
        <form id="addjob-form" action="{% url 'dashboard:addjob' %}" method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
  		<div class="col-md-10">
	  		<div class="row">
			<hr>
                <div class="col-md-8">
                	<div class="form-group">
						<h4>Enter the title of the event</h4>
                    	<input type="text" id="title" name="title" tabindex="1" class="form-control" placeholder="Title" value="">
                	</div>
                	<div class="form-group">
						<h4 for="description">Describe the event in detail</h4>
						<textarea class="form-control" tabindex="2" id="description" name="description" rows="6" placeholder="Description"></textarea>
                	</div>
                	<div class="form-group">
						<h4>Enter the location</h4>
                    	<input type="text" id="location" name="location" tabindex="3" class="form-control" placeholder="Location" value="">
                	</div>
                	<div class="form-group">
						<h4>Enter the date and time</h4>
           		    	<input type='text' id="time" name="time" tabindex="4" class="form-control" value="2017-01-01 00:00:00" />
                	</div>
                	<div class="form-group">
						<h4>Pick a cover image</h4>
						<input type="file" class="form-control-file" id="cover" name="cover" id="upload" />
                	</div>
            	</div>
           	</div>
	  		<div class="row">
			<hr>
                <div class="col-md-12">
				<h4>Pick the categories</h4>
                    {% for cause in causes %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
                            <label class="button-check">
                            	<input type="checkbox" name="causes" value="{{ cause.name }}">
                                <h5>{{ cause.name }}</h5>
                            </label>
                        </div>
                       {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                       {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
            	</div>
            </div>
	  		<div class="row">
			<hr>
                <div class="col-md-12">
				<h4>Select preferred skills</h4>
                    {% for skill in skills %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
                            <label class="button-check">
                            	<input type="checkbox" name="skills" value="{{ skill.name }}">
                                <h5>{{ skill.name }}</h5>
                            </label>
                        </div>
                       {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                       {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
            	</div>
            </div>
	  		<div class="row">
			<hr>
                <div class="col-md-12">
				<h4>Choose your identify for this event</h4>
                    {% for identity in user_identities %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
                            <label class="button-check">
                            	<input type="radio" name="identity" value="{{ identity }}" {% if forloop.first %}checked{% endif %}>
                                <h5>{{ identity }}</h5>
                            </label>
                        </div>
                       {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                       {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
            	</div>
            </div>
			<hr>
        	<input type="submit" class="btn btn-primary" value="Publish It">
		<input type="text" id="user_id" name="user_id" tabindex="3" style="display:none" value="{{ user.id }}">
        </form>
    </div>
  </div>
</body>
</html>
