<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>CataLyst - Dashboard</title>
    <!-- Bootstrap Core CSS -->
	<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
	{% include "landing/navbar.html" %}

    <div class="container-fluid">
        <div class="row">
	        <div class="col-md-2">
            <ul class="nav flex-column">
                <li><a class="nav-link" href="{% url 'dashboard:index' %}">Overview</a></li>
                <li><a class="nav-link active" href="{% url 'dashboard:addjob' %}">Publish a job</a></li>
                <li><a class="nav-link" href="{% url 'dashboard:profile' %}">Profile</a></li>
            </ul>
   	        </div>
            <div class="col-md-10">
                <h2>{{ job.title }}</h2>
                <h3>Released by: {{ publisher }}</h3>
                <h3>{{ job.description }}</h3>
                <form id="part-form" action="{% url 'dashboard:participate' %}" method="post" role="form">
                {% csrf_token %}
				<input type="submit" id="participate-submit" tabindex="1" class="btn btn-primary btn-lg" value="{{ action }}">
                    <input type="text" id="user_id" name="user_id" tabindex="2" style="display:none" value="{{ user.id }}">
                    <input type="text" id="job_id" name="job_id" tabindex="3" style="display:none" value="{{ job.id }}">
                </form>
            </div>
        </div>
    </div>
</body>

</html>
