<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CataLyst - Dashboard</title>
    <!-- Bootstrap Core CSS -->
	<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
	{% include "landing/navbar.html" %}
	<div class="container-fluid row">
	  	<div class="col-md-2">
            <ul class="nav flex-column">
				<hr>
                <li><a class="nav-link" href="{% url 'dashboard:index' %}">Overview</a></li>
                <li><a class="nav-link" href="{% url 'dashboard:addjob' %}">Publish an Event</a></li>
                <li><a class="nav-link active" href="{% url 'dashboard:managejobs' %}">Manage Events</a></li>
                <li><a class="nav-link" href="{% url 'dashboard:profile' %}">My Profile</a></li>
            </ul>
	  	</div>

        <div class="col-md-10">
			{% if messages %}
				<ul class="messages">
   					{% for message in messages %}
			    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				        	{{ message }}
					    </li>
				    {% endfor %}
				</ul>
			{% endif %}
            <hr>
	  		<div class="row text-center">
                <h3>Upcoming Events</h3>
                {% for job in upcoming_jobs %}
                    <div class="col-md-3">
						<a href="{% url 'dashboard:manage_one_job' job.id %}">
						<div class="cover-img-div">
							<img class="img-portfolio img-responsive" src="{{ job.thumb }}">
                    	</div>
						<h4>{{ job.title }}</h4>
						</a>
                    </div>
                {% endfor %}
			</div>
			<hr>
	  		<div class="row text-center">
                <h3>Past Events</h3>
                {% for job in past_jobs %}
                    <div class="col-md-3">
						<a href="{% url 'dashboard:manage_one_job' job.id %}">
						<div class="cover-img-div">
							<img class="img-portfolio img-responsive" src="{{ job.thumb }}">
                    	</div>
						<h4>{{ job.title }}</h4>
						</a>
                    </div>
                {% endfor %}
			</div>
        </div>
    </div>
  </div>
</body>
</html>
