<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>CataLyst - Dashboard</title>
    <!-- Bootstrap Core CSS -->
	<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
	<link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{% static 'dashboard/js/bootstrap-rating-input.min.js' %}"></script>
</head>

<body>
	{% include "landing/navbar.html" %}
	<div class="container-fluid row">
	  	<div class="col-md-2">
	        <ul class="nav flex-column">
   	        	<li><a class="nav-link" href="{% url 'dashboard:index' %}">Overview</a></li>
            	<li><a class="nav-link" href="{% url 'dashboard:addjob' %}">Publish an Event</a></li>
                <li><a class="nav-link" href="{% url 'dashboard:managejobs' %}">Manage Events</a></li>
            	<li><a class="nav-link" href="{% url 'dashboard:profile' %}">My Profile</a></li>
        	</ul>
	  	</div>
  		<div class="col-md-10">
			<hr>
			<h3>{{ user.username }}</h3>
			<hr>
			<h3>Past Reviews</h3>
  			<div class="row">
            	<div class="col-md-12">
                    {% for involve in involves %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
							<a href={% url 'dashboard:jobdetail' involve.job.id %}>{{ involve.job }}</a>
							{% if involve.score > 0 %}<input type="number" name="score" id="score" class="rating" value="{{ involve.score }}"/>{% endif %}
							{% if involve.review != "" %}<h5>{{ involve.review }}</h5>{% endif %}
                        </div>
                       {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                       {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
				</div>
			</div>
			<hr>
			<h3>Interested Causes</h3>
  			<div class="row">
            	<div class="col-md-12">
                    {% for cause in causes %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
                            <h5>{{ cause.name }}</h5>
                        </div>
                       {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                       {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
				</div>
			</div>
			<hr>
			<h3>Skills</h3>
  			<div class="row">
            	<div class="col-md-12">
                    {% for skill in skills %}
                        {% if forloop.first %}<div class="row">{% endif %}
                        <div class="col-md-3">
                            <h5>{{ skill.name }}</h5>
                        </div>
                       {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                       {% if forloop.last %}</div>{% endif %}
                    {% endfor %}
				</div>
			</div>
			<hr>
    	</div>
	</div>
</body>
</html>
